@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto.eot');
    src: url('fonts/roboto.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto.woff') format('woff'),
         url('fonts/roboto.ttf') format('truetype'),
         url('fonts/roboto.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'robotoregular', 'Courier New', Courier, monospace;
}

/* vvv header vvv */

header, header ul{
    display: flex;
    justify-content: space-between;
}

header{
    margin: 3px 0 0 3px;
}

header a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
}

nav li{
    margin: 0 15px;
}

ul{
    list-style-type: none;
    margin-right: 20px;
}

/* ^^^ header ^^^ */

/* vvv main vvv */

/* section bg */

#bg{
    height: 570px;
    background: url('images/backgroung_image.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bg img{
    transform: scale(0.7);
}

h1{
    color: #FFF;
    font-size: 2.5em;
}

/* section bg */

/* section2 */

h2{
    text-transform: uppercase;
    margin: 5px auto;
}

#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 600px;
    max-width: 930px;
    margin: auto;
}

#section2  div > p{
    width: 80%;
    margin: auto;
}

#section2 > p, blockquote > p{
    font-size: 1.5em;
}

#section2 > p{
    padding: 20px 0;
}

blockquote > p{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

#GSI{
    display: flex;
    margin: 30px 0;
}

/* section2 */

/* ^^^ main ^^^ */

/* vvv footer vvv */

footer{
    background-color: rgb(85, 58, 151);
    color: #FFF;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer > p{
    font-weight: bold;
    font-size: 1em;
    margin: 10px auto;
}

footer > section{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

i{
    margin: 0 30px;
    color: white;
    transform: scale(2);
}

footer a{
    color: #FFF;
}

h3{
    margin-bottom: 5px;
}

